# Virtual environment
venv/

# Python cache
__pycache__/
*.py[cod]

# Environment variables / secrets
.env

# Uploaded files
uploads/*

# Streamlit
.streamlit/secrets.toml

# OS files
.DS_Store
Thumbs.db